body {
  margin: 0;
  font-family:  "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:  "Courier New",
    monospace;
}

#root {
  border: 1px sienna solid;
  width: 700px;
  margin: auto;
}

#app-component {
  display: flex;
}

#display-component {
  display: flex;
  background-color: gray;
}
#buttonPanel-component {
  display: flex;
}